<!-- This email is sent when an existing user is added to an organization -->

[[Subject .Subject "[[.InvitedBy]] vous a ajouter à Grafana
<table class="row">
	<tr>
		<td class="wrapper last">

			<table class="twelve columns">
				<tr>
					<td>
						<h4 class="center">Vous avez été ajouté à [[.OrgName]]</h4>
					</td>
					<td class="expander"></td>
				</tr>
			</table>

		</td>
	</tr>
</table>

<table class="row">
	<tr>
		<td class="wrapper last">
			<table class="twelve columns">
				<tr>
					<td class="center">
						<p><b>[[.InvitedBy]]</b> vous a ajouter à Grafana.
					</td>
					<td class="expander"></td>
				</tr>
				<tr>
					<td class="center">
						<table class="better-button" align="center" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td align="center" class="better-button" bgcolor="#ff8f2b"><a href="[[.AppUrl]]" target="_blank">Connexion</a></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>


